apiVersion: kafka.strimzi.io/v1beta2 # Atualizei para v1beta2 para ficar consistente
kind: KafkaConnector
metadata:
  name: mqtt-source-agro
  namespace: agrotech
  labels:
    strimzi.io/cluster: agro-connect
spec:
  class: io.lenses.streamreactor.connect.mqtt.source.MqttSourceConnector
  tasksMax: 1
  config:
    # --- Conexão MQTT ---
    connect.mqtt.hosts: "tcp://mosquitto-svc:1883"
    connect.mqtt.service.quality: "1"
    connect.mqtt.clean: "true"
    connect.mqtt.timeout: "1000"
    
    # --- O Mapeamento (KCQL) ---
    # Lógica: Pegar do tópico MQTT 'sensores/+/telemetria' e jogar no Kafka 'telemetria-raw'
    # O comando WITHCONVERTER garante que o payload chegue como bytes brutos (útil pro Spark depois)
    connect.mqtt.kcql: "INSERT INTO telemetria-raw SELECT * FROM sensores/+/telemetria WITHCONVERTER=`org.apache.kafka.connect.converters.ByteArrayConverter`"
    
    # --- Conversores ---
    # Forçamos ByteArray para não ter erro de parse JSON dentro do Connect
    # Deixamos o Spark lidar com o JSON depois.
    key.converter: "org.apache.kafka.connect.storage.StringConverter"
    value.converter: "org.apache.kafka.connect.converters.ByteArrayConverter"
    
    # Debug (opcional, bom para o inicio)
    errors.log.enable: "true"
    errors.log.include.messages: "true"