apiVersion: kafka.strimzi.io/v1
kind: KafkaConnector
metadata:
  name: mqtt-source-agro
  namespace: agrotech
  labels:
    strimzi.io/cluster: agro-connect # Precisa bater com o nome do KafkaConnect
spec:
  class: io.streamthoughts.kafka.connect.mqtt.source.MqttSourceConnector
  tasksMax: 1
  config:
    # Configurações do Plugin MQTT
    mqtt.listener.servers: tcp://mosquitto-svc:1883
    mqtt.client.id: kafka-connect-worker
    mqtt.clean.session: true
    
    # Filtro: Pega tudo que começar com "sensores/" e terminar com "/telemetria"
    mqtt.source.filter: sensores/+/telemetria
    
    # Destino no Kafka
    kafka.topic: telemetria-raw
    
    # Converter o Payload binário para Byte Array (o Spark depois faz o parse do JSON)
    mqtt.payload.converter: org.apache.kafka.connect.converters.ByteArrayConverter