apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaConnector
metadata:
  name: mqtt-source-agro
  namespace: agrotech
  labels:
    strimzi.io/cluster: agro-connect
spec:
  class: io.lenses.streamreactor.connect.mqtt.source.MqttSourceConnector
  tasksMax: 1
  config:
    # --- Conexão MQTT ---
    connect.mqtt.hosts: "tcp://mosquitto-svc:1883"
    connect.mqtt.service.quality: "1"
    connect.mqtt.clean: "true"
    connect.mqtt.timeout: "1000"
    
    # --- KCQL COMPLETO (RESTAURADO E CORRIGIDO) ---
    # 1. Mapeia o NOVO firmware (telemetria/raw) para o SEU tópico (telemetria-raw)
    # 2. Mantém o legado (sensores/+/telemetria)
    # 3. Restaura Onboarding e Comandos
    connect.mqtt.kcql: "INSERT INTO telemetria-raw SELECT * FROM telemetria/raw; INSERT INTO telemetria-raw SELECT * FROM sensores/+/telemetria; INSERT INTO onboarding-raw SELECT * FROM onboarding/novo; INSERT INTO comandos-raw SELECT * FROM comandos/#"
    
    # --- Conversores ---
    key.converter: "org.apache.kafka.connect.storage.StringConverter"
    value.converter: "org.apache.kafka.connect.converters.ByteArrayConverter"
    
    errors.log.enable: "true"
    errors.log.include.messages: "true"