apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  name: telemetria-raw
  namespace: agrotech
  labels:
    strimzi.io/cluster: agro-cluster
spec:
  partitions: 1
  replicas: 1
  config:
    retention.ms: 604800000 # 7 dias
    segment.bytes: 1073741824